.container {
  border: 1px solid black;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.contact {
  width: 250px;
  margin: auto;
  margin-top: 0;
}

.member-pic {
  max-width: 250px;
}