.container {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.contact {
  width: 350px;
  margin: auto;
  margin-top: 0;
  border: 3px solid #404040;
  border-radius: 10px;
  background-color: #BF9663;
  margin-bottom: 2vh;
}

.contact-a {
  float: left;
  margin-left: 1vw;
}

.member-pic {
  max-width: 150px;
  border-radius: 50%;
  margin-top: 2vh;
}
.name-p-container {
  margin-top: 3vh;
  text-align: center;
}



