.one-contact-container { 
  border: 1px solid black;
  max-width: 600px;
  margin: auto;
  border: 3px solid #404040;
  border-radius: 10px;
  background-color: #BF9663;
}

.one-contact-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.one-member-pic {
  max-width: 150px;
  border-radius: 50%;
  margin: 3vh 0 0 2vw
}
.contact-profile {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  text-align: left;
}

.name-text {
  text-align: initial;
  margin-right: 3vw;
}

.span-profile {
  text-decoration: underline;
  font-weight: bold;
}

.bio-container {
  margin: 5vh 3vw 0 3vw;
  text-align: justify;
}

.span-bio {
  font-weight: bold;
  font-size: 2em;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 3vw;
  margin-bottom: 3vh;
}

.close-button-container  button {
  background-color: #D6C481;
  font-size: 16px;
  border-radius: 3px;
  border-color: #404040;
}